* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(17, 17, 17);
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    background: rgb(17, 17, 17);
    justify-content: space-around;
    align-items: center;
}

.right-header-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
    margin-right: 25px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 2rem;
    margin-left: 25px;
}

.logo-content {
    display: flex;
    align-items: center;
}

.yt-logo {
    background: rgb(17, 17, 17);
    color: white;
    border: none;
    height: 20px;
    width: 72px;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Trade Gothic LT Std', sans-serif;
}

.searchfield {
    display: none;
}

/* SIDEBAR */
/* don't show navbar on mobile */
.navbar-logo {
    display: none;
}

/* MAIN */
main {
    background: rgb(17, 17, 17);
    padding: 5rem 0 0 0;
}

.pic-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.short-grid {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    gap: 10px;
}

.short-grid img {
    display: none;
}

.short-grid img:nth-child(-n+2) {
    display: block;
}

/* FOOTER */
footer {}