@media (min-width: 1195px) {

    .navbar-logo {}
}

@media (min-width: 1600px) {
    .short-grid img:nth-child(-n+6) {
        display: block;
    }

    .container {
        background: rgb(17, 17, 17);
        width: 3414px;
        margin: 0 auto;
        height: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
}