@media (min-width: 1500px) {
    .container {
        background: rgb(17, 17, 17);
        width: 1500px;
        margin: 0 auto;
        height: 100%;
    }
}

@media (min-width: 1600px) {
    .short-grid img:nth-child(-n+6) {
        display: block;
    }
}