@media (min-width: 720px) {


    .sidenavbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 74px;
        gap: 30px;
        font-size: 10px;
        padding-top: 2rem;
        padding-right: 8px;
        color: white;
        background-color: rgb(17, 17, 17);
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }

    .navbar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .navbar-logo p {
        font-size: 9px;
    }




    main {
        padding: 4.5rem 0 0 3.6rem;
    }

    .categories {
        position: fixed;
        margin-top: 56px;
        margin-left: 88px;
        padding: .4rem 0 0.5rem 0;
        background-color: rgb(17, 17, 17);
        width: 100%;
    }
}

@media (min-width: 810px) {
    .short-grid img:nth-child(-n+3) {
        display: block;
    }
}

@media (min-width: 1050px) {
    .short-grid img:nth-child(-n+4) {
        display: block;
    }
}

@media (min-width: 1300px) {
    .short-grid img:nth-child(-n+5) {
        display: block;
    }
}