@media (min-width: 600px) {



    .searchfield {
        display: inline-block;
    }

    .sidenavbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;

        top: 56px;
        left: 0;
        bottom: 0;
        width: 74px;
        gap: 2rem;
        font-size: 12px;

        padding-top: 2rem;

        color: white;
        background-color: rgb(17, 17, 17);
    }

    .navbar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #site-search {
        background-color: rgba(169, 169, 169, 0.228);
        border-color: grey;
        width: 25vw;
        height: 25px;
        border-radius: 5px;
    }

    main {
        padding: 5rem 0 0 5rem;
    }

    @media (min-width: 810px) {
        .short-grid img:nth-child(-n+3) {
            display: block;
        }
    }

    @media (min-width: 1050px) {
        .short-grid img:nth-child(-n+4) {
            display: block;
        }
    }

    @media (min-width: 1300px) {
        .short-grid img:nth-child(-n+5) {
            display: block;
        }
    }
}