@media (min-width: 792px) {


    .sidenavbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 74px;
        gap: 30px;
        font-size: 10px;
        padding-top: 2rem;
        padding-right: 8px;
        color: white;
        background-color: rgb(17, 17, 17);
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }

    .navbar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .navbar-logo p {
        font-size: 9px;
    }

    .middle-header-content {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 2rem;
        margin-left: 3.7rem;
    }

    .searchbar {
        display: flex;
        align-items: center;
        gap: 1rem;

        color: rgb(136, 136, 136);
        background-color: #181818;
        border-color: #484848;
        max-width: 55vw;
        height: 2.2rem;
        border-radius: 1rem;
        border: 0.5px solid #636363;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: 15px;
    }

    .searchfield {
        display: flex;
        color: rgb(136, 136, 136);
        background-color: #181818;
        border-color: #484848;
        width: 45.2vw;
        height: 2.2rem;
        border-radius: 1rem;
        border: 0.5px solid #636363;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        font-size: 15px;
    }


    main {
        padding: 4.5rem 0 0 3.6rem;
    }

    .categories {
        position: fixed;
        margin-top: 56px;
        margin-left: 88px;
        padding: .4rem 0 0.5rem 0;
        background-color: rgb(17, 17, 17);
        width: 100%;
    }
}

@media (min-width: 810px) {
    .short-grid img:nth-child(-n+3) {
        display: block;
    }
}

@media (min-width: 1050px) {
    .short-grid img:nth-child(-n+4) {
        display: block;
    }
}

@media (min-width: 1300px) {
    .short-grid img:nth-child(-n+5) {
        display: block;
    }
}